* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-color: #1b4f8f;
}

.fundo{
   width: 660px;
   margin: 0 auto;
   background-color: #e01272;
   color:aliceblue;
   text-align: center;

}


.flex{
    display: flex;
}

.rosa{
    background-color: rgb(255, 115, 185);
    padding: 80px;
    margin: 10px;

}

.alongar{
    padding-right: 279px;
}

.esticar{
padding-bottom: 400px;
}

.esticar1{
    padding-bottom: 200px;
}

.fundo1{
  background-color: #e01272;
    padding: 80px;
    padding-right: 350px;
    margin: 10px;   
}

.esticar2{
    padding-bottom: 278px;
}
